{% extends "tvShows/header.html" %}
{% load staticfiles %}


{% block content %}

<link rel="stylesheet" href="{% static 'tvShows/css/bootstrap.min.css' %}" type = "text/css"/>



<div class="row section_1">

<h1 class="page_titles"> Hello </h1>


</div>

	
<div class="row section_2">

<h1 class="page_titles" > Android or IOS ? </h1>


</div>

<div class="row section_3">


<h1 class="page_titles"> Some other stuff <h1>

<!--<div class="col-sm-6 col-md-3">

    <div class="img_con">
    <img src="{% static 'tvShows/img/life_bird.jpg' %}" class="img-responsive img3" >
	</div>
	<div class="img_con">
    <img src="{% static 'tvShows/img/summer.jpg' %}" class="img-responsive img3" >
    </div>
    <div class="img_con">
    <img src="{% static 'tvShows/img/king_bear.jpg' %}" class="img-responsive img3" >
    </div>
    <div class="img_con">
    <img src="{% static 'tvShows/img/life.jpg' %}" class="img-responsive img3" >
	</div>

</div>-->

</div> 

<div class="row section_4">
</div>








<!--{% include "tvShows/includes/htmlsnippet.html" %}-->

{% endblock %}