aldryn-apphooks-config==0.2.7
aldryn-boilerplates==0.7.4
aldryn-common==1.0.3
aldryn-search==0.2.12
beautifulsoup4==4.4.1
cmsplugin-filer==1.0.1
dj-database-url==0.4.1
Django==1.8.13
django-appconf==1.0.2
django-appdata==0.1.5
django-bootstrap-form==3.2.1
django-classy-tags==0.7.2
django-cms==3.2.5
django-filer==1.2.0
django-formtools==1.0
django-haystack==2.4.1
django-html-cleaner==0.2.5
django-meta==1.2
django-meta-mixin==0.3.0
django-misc==0.1.5
django-modelcluster==2.0
django-mptt==0.8.4
django-pagination-bootstrap==1.1
django-parler==1.6.3
django-polymorphic==0.8.1
django-reversion==1.8.7
django-sekizai==0.9.0
Django-Select2==4.3.2
django-sortedm2m==1.2.2
django-spurl==0.6.4
django-standard-form==1.1.1
django-taggit==0.18.3
django-taggit-autosuggest==0.2.8
django-taggit-templatetags==0.2.5
django-templatetag-sugar==1.0
django-treebeard==4.0.1
djangocms-admin-style==1.2.2
djangocms-apphook-setup==0.1.2
djangocms-blog==0.8.0
djangocms-column==1.6.0
djangocms-googlemap==0.4.0
djangocms-inherit==0.2.1
djangocms-installer==0.8.10
djangocms-link==1.7.2
djangocms-style==1.7.0
djangocms-text-ckeditor==2.9.3
djangorestframework==3.3.3
easy-thumbnails==2.3
html5lib==0.9999999
lxml==3.6.0
Pillow==3.2.0
-e git+http://git@github.com/divio/django-polls.git@e6508521a529864932ab4fe5862a6ce728eddf45#egg=polls-master
pytz==2016.4
six==1.10.0
tzlocal==1.2.2
Unidecode==0.4.19
URLObject==2.4.0
wagtail==1.5.2
wagtailmenus==1.2.1
wheel==0.24.0
Willow==0.3.1
YURL==0.13
