{% extends "tvShows/header.html" %}
{% load staticfiles %}


{% block content %}

<link rel="stylesheet" href="{% static 'tvShows/css/bootstrap.min.css' %}" type = "text/css"/>

<div class="row section_2">


	<div class="container" style="margin-top:50px">
	<div class="row">
	<div class="col-sm-12 col-md-2 col-lg-4">

	<h1 class="page_titles"> Blog </h1>

  <!-- example 

	{% for post in object_list %}
		<h5>{{ post.date|date:"Y-m-d" }}<a href="/blog/{{post.id}}">  {{ post.title }}</a></h5>
	{% endfor %} -->

<h3> Coming Soon.. </h3>

<h3> User blogs, reviews, interpretations. </h3>


	</div>
    </div>
   
	</div>


</div>



{% endblock %}




